// Heading
.header {
  color: $color-white;
  margin-bottom: 8rem;
  font-size: 2rem;
  letter-spacing: 1rem;
}
// Main
.time {
  display: flex;
  &:not(:last-child) {
    margin-right: 3rem;
  }

  &__unit {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
  &__count {
    height: 15rem;
    width: 15rem;
    margin-bottom: 2rem;
    letter-spacing: 7px;
    box-shadow: 0 8px 5px black;
    border-radius: 5px;
    overflow: hidden;
  }
  &__count-1,
  &__count-2 {
    height: 50%;
    width: 100%;
    background-color: $dark-desaturated-blue;
    font-size: 8rem;
    color: $color-primary-2;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    span {
      display: inline-block;
    }
  }
  &__count-1 {
    border-bottom: solid 0.1px $very-dark-blue-1;
    color: darken($color-primary-2, 3%);
    span {
      transform: translateY(46.5%);
    }
  }
  &__count-2 {
    border-top: solid 0.1px $very-dark-blue-1;
    span {
      transform: translateY(-46.5%);
    }
  }

  &__name {
    color: $color-primary-1;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 7px;
  }
}

// Footer
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url(../images/pattern-hills.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__icons {
    display: flex;
    justify-content: center;
  }
  &__icon {
    height: 24px;
    width: 24px;
    fill: $color-primary-1;
    transition: fill 0.2s ease;
    &:not(:last-child) {
      margin-right: 3rem;
    }
    &:hover {
      fill: $color-primary-2;
      cursor: pointer;
    }
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
